<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <D>
    "Z3LogFilePath=z3.log"
  </D>
  <extension>
    "Microsoft.Xrt.Runtime.dll"
  </extension>
  <setnative>
    "System\.IO\.File"
  </setnative>
  <setnative>
    "System\.Globalization\..*"
  </setnative>
  <setnative>
    "System\..*Encoding"
  </setnative>
  <setnative>
    "System\.BitConverter"
  </setnative>
  <setnative>
    "Microsoft\.Protocols\.TestTools\.RequirementId"
  </setnative>
</configuration>
